.gradle/
.idea/
.kotlin/
**/build/
local.properties
keystore.properties
bkm-environment.properties
customers/*/bkm-environment.properties
customers/*/keystore.properties
*.jks
*.keystore
captures/
externalNativeBuild/
.cxx/
